<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ $style := resources.Get "sass/styles.scss" | toCSS -}}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<script defer data-domain="willj.net" src="https://plausible.io/js/script.js"></script>

		<link href="{{ .Site.BaseURL }}rss.xml" rel="alternate" type="application/rss+xml" title="All posts | {{ .Site.Title | safeHTML }}" />
		{{ if eq .Page.Kind "term" -}}
			{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s posts | %s" />` .Rel .MediaType.Type .Permalink $.Title $.Site.Title | safeHTML }}
			{{ end -}}
		{{ end -}}

		<title>
			{{ if .Title -}}
				{{ .Title }}
			{{ else -}}
				Will Jessop's Writings; Sailing, Food, Programming, Technology, and other things
			{{ end -}}
		</title>
		<meta
			name="description"
			content="{{ if .Params.description }}{{ .Params.description }}{{ else if .Params.summary }}{{ .Params.summary }}{{ else if .Title }}{{ .Title }}{{ else }}I write about Ruby on Rails and Postgres scaling, performance and upgrade work, Ruby, Go and other programming topics, as well as sailing and cooking.{{ end }}"
		/>
		<meta name="author" content="{{ .Site.Author.name }}">
	</head>
	<body>
		<h1>{{ .Site.Title }}</h1>
		<em></srong><p>Sailing, Food, Programming, Technology, and other things</p></em>
		{{ partial "nav.html" . }}

		{{ if .Site.Params.OpenToContracts -}}
		<div class="open-to-contracts">
		Do you have a Ruby on Rails application you'd like to be faster, more scalable, or just upgraded safely?
		I'm currently open to new contracts doing Ruby on Rails and Postgres scaling and performance work, and Rails upgrades.
		Contact me at <a href="mailto:will@willj.net?subject=Contract%20opportunity">will@willj.net</a> to get started.
		</div>
		{{ end -}}

		{{ block "main" . }}{{ end }}

		{{ partial "footer.html" . }}
	</body>
</html>
