{{ define "main" }}
	{{ $baseurl := .Site.BaseURL }}
	{{ if or .Params.tags .Params.categories .Params.series }}
	|
	{{ end }}
	{{ if isset .Params "tags" }}
	tags:{{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
	{{ end }}

	{{ if isset .Params "categories" }}
	categories:{{ range .Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}
	{{ end }}

	{{ if isset .Params "series" }}
	series:{{ range .Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}
	{{ end }}

	<h2>{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h2>

	<p>{{ .Summary }}</p>

	<article>
	{{ .Content }}
	</article>

{{ end }}
