{{ define "main" }}
	<h2>{{ .Title }}</h2>

	<p>	{{.Content}}</p>

	<h3>About me</h3>

	<p>I am Will Jessop, CTO of <a href="https://impactive.io">Impactive</a> and a Ruby on Rails upgrade and performance consultant. I run <a href="https://ownandship.io">Own&Ship</a>, an app for tracking Ruby and Rails deprecations and helping manage upgrades.</p>

	<h3>Recent posts</h3>

	<post_list>
		<ul>
			{{ range (first 10 (where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" "Post")) }}
			<li>
				{{ $dateTime := .PublishDate.Format "2006-01-02" }}
				{{ $dateFormat := .Site.Params.dateFormat | default "Monday, January 2, 2006" }}
				<a href="{{ .Permalink }}">{{ .Title }}</a> - <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
				<p>{{ .Summary }}</p>
			</li>
			{{ end }}
		</ul>

		<p><a href="/posts">more posts</a></p>
	</post_list>

	<h3>Getting in touch</h3>

	<p>You can find me on <a href="https://github.com/wjessop/">Github</a>, <a rel="me" href="https://ruby.social/@wj">Mastodon</a>, <a href="https://twitter.com/will_j">Twitter</a> (now largely abandoned), and <a href="mailto:will@willj.net">Email</a>.</p>
{{ end }}
