{{ define "main" }}
	<h2>{{ .Title }}</h2>
	<p>	{{.Content}}</p>

	<about-me>
		<img class="mugshot" width="400" height="434" src="img/me_sailing.jpeg" alt="Me on a sailing yacht">

		<h2>About me</h3>

		<p>I am Will Jessop, CTO of <a href="https://impactive.io">Impactive</a>
		and a Ruby on Rails and Postgres upgrade and performance consultant. I run <a href="https://ownandship.io">Own&Ship</a>,
		an app for tracking Ruby and Rails deprecations and helping manage upgrades.</p>

		<p>I blog sporadically about my sailing adventures over at <a href="https://sailingsilvergirl.com/">the Silver Girl website</a>.</p>

		<div class="clearfix"></div>
	</about-me>

	<h3>Recent posts</h3>

	<post_list>
		<ul>
			{{ range (first 10 (where (where .Site.RegularPages.ByDate.Reverse "Type" "in" "Post") ".Params.preview" "!=" true)) }}
			<li>
				{{ $dateTime := .PublishDate.Format "2006-01-02" }}
				{{ $dateFormat := .Site.Params.dateFormat | default "Monday, January 2, 2006" }}
				{{ if .Draft }}<strong>DRAFT:</strong> {{ end }}<a href="{{ .Permalink }}">{{ .Title }}</a> - <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
				<p>{{ .Summary }}</p>
			</li>
			{{ end }}
		</ul>

		<p><a href="/posts">more posts</a></p>
	</post_list>

	<h3>Getting in touch</h3>
{{ end }}
