{{ define "main" }}
	<h2>{{ .Title }}</h2>

	<p>	{{.Content}}</p>

	<h3>About me</h3>

	<p>I am Will Jessop, a Ruby on Rails upgrade and performance consultant.</p>

	<h3>Recent posts</h3>

	<post_list>
		<ul>
			{{ range (first 10 (where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" "Post")) }}
			<li>
				{{ $dateTime := .PublishDate.Format "2006-01-02" }}
				{{ $dateFormat := .Site.Params.dateFormat | default "Monday, January 2, 2006" }}
				<a href="{{ .Permalink }}">{{ .Title }}</a> - <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
				<p>{{ .Summary }}</p>
			</li>
			{{ end }}
		</ul>

		<p><a href="/posts">more posts</a></p>
	</post_list>

	<h3>Getting in touch</h3>

	<p>You can find me on <a href="https://github.com/wjessop/">Github</a>, <a href="https://twitter.com/will_j">Twitter</a>, and <a href="mailto:will@willj.net">Email</a>.</p>
{{ end }}
